body {
	width: 100%;
	height: 100%;
	background: #000;
	font: normal 10px Verdana;
	color: #b5b5b5;
}

iframe h1 { font-size: 1.2em; }
#container {

	width: 1055px;
	display: block;
	margin: 0 auto;
	height: 100%;
}


#sidebar {
	position: relative;
	clear: none;
	float: left;

	display: block;
	width: 200px;
	min-height: 100px;
}

#content {
	position: relative;
	clear: none;
	float: left;

	margin-left: 20px;
	
	display: block;
	width: 830px;
	min-height: 550px;
}

#content .header {
	
	background: url(/images/Header_ContentManagementSystem.png) 0 0 no-repeat;
	display: block;
	width: 100%;
	height: 100%;
	text-align: right;
}

#content .header ul {
	
	display: block;
	float: right;
	
}

#inner {
	
	position: relative;
	clear: none;
	float: left;

	display: block;
	min-height: 300px;
	width: 100%;
}

#footer {
	
	border-top: 1px solid #f00;
	clear: both;
	width: 100%;
	min-height: 100px;
	display: block;
	text-align: right;
}


.header {

	clear: both;
	width: 100%;
	min-height: 100px;
	display: block;
	padding-bottom: 2px;
	border-bottom: 1px solid #f00;
}


.header ul#navs {
	float: right;
	margin-top: 57px;
}

.header #navs a:link, .header #navs a:visited, .header #navs a:hover, .header #navs a:active {

	display: block;
	min-width: 10px;
	padding: 0 10px;
	border-left: 1px solid #333;
	color: #b5b5b5;
	text-decoration: none;
	float: left;
	clear: none;
	font: bold 11px Verdana;
	height: 17px;
	line-height: 17px;
}

.header #navs a:hover {
	
	color: #f00;
}

.header #navs a:first-child {
	
	border: 0;
}

.header #navs a:last-child {
	
	padding-right: 2px;
}

ul#sidenavs {
	
	position: relative;
	min-height: 100px;
	width: 100%;
	display:block;
	
}

ul#sidenavs li {

	font: normal 11px Verdana, 'Trebuchet MS';
	letter-spacing: 1px;
	display: block;
	width: 100%;
	min-height: 30px;
	line-height: 30px;
	clear: both;
	float: left;
	
	/*background: #000 url(../images/Nav_Rule_Dotted_250px.png) bottom left no-repeat;*/
	border-bottom: 1px dotted #444;
}

#sidenavs li a:link, #sidenavs li a:visited, #sidenavs li a:hover, #sidenavs li a:active{

	color: #b5b5b5;
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: transparent url(/images/Nav_Icon_Off.png)  1px 10px no-repeat;
	text-decoration: none;
	padding-left: 20px;
}

#sidenavs li a:hover {

	color: #f00;
/*	color: #f00;*/
	background: transparent url(/images/Nav_Icon_On.png)  1px 10px no-repeat;

}

#sidenavs li a.nactiv:link, #sidenavs li a.nactiv:visited, #sidenavs li a.nactiv:hover, #sidenavs li a.nactiv:active {

	color: #f00;
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: transparent url(/images/Nav_Icon_Down.png)  1px 10px no-repeat;
	text-decoration: none;
	padding-left: 20px;
}

#sidenavs li a:hover {

	color: #f00;
	background: transparent url(/images/Nav_Icon_On.png)  1px 10px no-repeat;

}

#sidenavs li ul {
	
	display: block;
	float: left;
	width: 100%;
	min-height: 30px;
	margin-bottom: 15px;
}

#sidenavs li ul li {
	
	font: normal 11px Verdana, 'Trebuchet MS';
	letter-spacing: 1px;
	display: block;
	width: 100%;
	min-height: 15px;
	line-height: 15px;
	min-height: 15px;
	
	border: 0;
}

#sidenavs li ul li a:link,
#sidenavs li ul li a:visited,
#sidenavs li ul li a:hover,
#sidenavs li ul li a:active,
#sidenavs span.subheader {
	
	color: #b5b5b5;
	display: block;
	width: 90%;
	height: auto;
	min-height: 15px;
	line-height: 15px;
	text-decoration: none;
	padding-left: 20px;
	font-size: 10px;	
	background: transparent;

}

#sidenavs li ul li a:hover, #sidenavs li ul li a:active {
	
	color: #f00;
}

#sidenavs li ul li a.subactiv:link,
#sidenavs li ul li a.subactiv:visited,
#sidenavs li ul li a.subactiv:hover,
#sidenavs li ul li a.subactiv:active {
	
	color: #f00;
	display: block;
	width: 100%;
	height: 15px;
	min-height: 15px;
	line-height: 15px;
	text-decoration: none;
	padding-left: 20px;
	
	background: black;;
}

#sidenavs li ul li span.subheader{

	font-weight: normal;
	color: #f00;
	padding-bottom: 5px;

}

#sidenavs li ul li a.subactiv:hover {
	
	color: #f00;
}

#sidenavs li ul li ul.subnavs {
	
	clear: both;
}

#sidenavs li ul li ul.subnavs li {
	
	margin-left: 20px;
}





.ileft, .iright, .inner_content {
	
	position: relative;
	clear: none;
	float: left;
	
	margin: 20px 0;
	
	display: block;
	width: 263px;
	min-height: 300px;
	
	/*background: #f00;*/
}

.iright {
	
	margin-left: 20px;
}

.inner_content {
	
	width: 100%;
}

.ic_left, .ic_right {
	
	position: relative;
	clear: none;
	float: left;
	
	display: block;
	width: 250px;
	min-height: 300px;
	
	margin-left: 20px;
}



.ic_right {
	
	margin-left: 0;
}

.ic_left select, .ic_right select {
	
	display: block;
	width: 100%;
	min-height: 300px;
}

.ic_left p, .ic_right p {
	
	margin-left: 0;
	margin-top: 0;
	color: #eee;
	size: 11px;
	height: 11px;
	line-height: 11px;
}
.ic_mid {
	
	position: relative;
	clear: none;
	float: left;
	
	margin-top: 140px;
	display: block;
	width: 190px;
	min-height: 100px;
	
	line-height: 100px;
}

.ic_mid a:link,
.ic_mid a:visited,
.ic_mid a:hover,
.ic_mid a:active {
	
	position: relative;
	display: block;
	width: 70px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	
	background: #222;
	color: #b5b5b5;
	text-decoration: none;
	text-transform: uppercase;
	margin: 10px auto;
}

.ic_mid a:hover {
	
	background: #111;
}

h1 {
	
	position: relative;
	display: block;
	clear: both;
	
	height: 30px;
	width: 100%;
	
	line-height: 30px;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: normal;
	color: #ddd;
	text-indent: 10px;
	
	background: #151515;
}

ul.navi {
	
	position: relative;
	float: left;
	clear: both;
	
	display: block;
	width: 100%;
	min-height: 30px;
	background: transparent;
	padding-bottom: 30px;
}

ul.navi li {
	
	position: relative;
	float: left;
	clear: both;
	display: block;
	width: 100%;
	min-height: 30px;
}

ul.navi li a:link,
ul.navi li a:visited,
ul.navi li a:hover,
ul.navi li a:active,
ul.navi li span {
	
	display: block;
	width: 100%;
	min-height: 30px;
	height: 30px;
	line-height: 30px;

	text-decoration: none;
	color: #b5b5b5;

	letter-spacing: 1px;
	text-indent: 9px;
	border-bottom: 1px dotted #141414;
	
}

ul.navi li a:hover {
	
	color: #f00;
}







ul.navi li.sub span {
	
	font-weight: normal;
	color: #f00;
}

p.pagenavs_left, p.pagenavs_right, p.actionnavs {
	position: relative;
	display: block;
	clear: both;
	
	height: 30px;
	width: 100%;
	line-height: 30px;
	text-indent: 10px;

	margin-top: 6px;
}

p.pagenavs_left, p.pagenavs_right {
	
	width: 34%;
	float: left;
	clear: none;
}

p.pagenavs_right {
	
	float: right;
	width: 54%;
}

p.pagenavs_right {
	
	text-align:right;
}


p.actionnavs {
	
	margin-top: 6px;
}
p.pagenavs_left a:link,
p.pagenavs_left a:visited,
p.pagenavs_left a:hover,
p.pagenavs_left a:active,
p.pagenavs_right a:link,
p.pagenavs_right a:visited,
p.pagenavs_right a:hover,
p.pagenavs_right a:active

{

	color: #b5b5b5;
	text-decoration: underline;
}

p.pagenavs_left a:hover,
p.pagenavs_right a:hover {
	
	text-decoration: none;
}

p.actionnavs span, p.pagenavs_left, p.pagenavs_right span {
	
	position: relative;
	float: left;
	width: 45%;
	font-size: 11px;
	color: #b5b5b5;
	
}

p.actionnavs span {
	
	width: 80%;
}

p.actionnavs a:link,
p.actionnavs a:visited,
p.actionnavs a:hover,
p.actionnavs a:active {
	
	
	position: relative;
	float: right;
	text-align: right;

	color: #b5b5b5;
}

p.actionnavs a:hover {
	
	color: #f00;
}

ul.tabs {
	
	position: relative;
	display: block;
	height: 24px;
	width: 100%;
	margin-top: 7px;
	
	border-bottom: 1px solid #f00;
	
}

ul.tabs li {
	
	position: relative;
	clear: none;
	float: left;
	width: 100px;
	height: 24px;
	line-height: 24px;
	margin-right: 1px;
	padding: 0 0px;	
	
	background-color: #333;
	/*border: 1px dotted #111;*/
	border-bottom: 0;
}

ul.tabs li.activ {

	background: #f00;
	color: white;
	border: 0;
}

ul.tabs li a:link,
ul.tabs li a:visited,
ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li span {

	display: block;
	width: 100%;
	min-height: 10px;
	color: #FFF;
	text-decoration: none;
	text-indent: 10px;
}


ul.tabs li a:hover {
	
	background-color: #f00;
}

ul.tabs li.activ a:link,
ul.tabs li.activ a:visited,
ul.tabs li.activ a:hover,
ul.tabs li.activ a:active {
	
	color: #fff;
}


form {
	
	position: relative;
	float: left;
	clear: none;

	display: block;
	min-height: 50px;
	width: 100%;
	margin-top: 20px;
}

form p {
	
	clear: both;
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	min-height: 20px;
	line-height: 20px;
	margin-left: 10px;
}

form p label, label {
	
	position: relative;
	float: left;
	clear: none;
	
	display: block;
	width: 170px;
	line-height: 20px;
	min-height: 20px;
}

form p label.section_title {
	
	font-size: 10px;
	color: #eee;
}

label {
	
	width: auto;
}

form p input, input {
	
	width: 500px;
	border: 0;
	padding: 4px 5px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
}

form p input.chkbox {
	
	width: auto;
	margin-right: 5px;
}

form p label.chkbox {
	
	width: auto;
	margin-right: 20px;
}

form p textarea, form p textarea.txtarea {
	
	border: 0;
	width: 504px;
	height: 150px;
	padding: 3px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
}

form p textarea.txtarea {
	
	width: 600px;
	height: 200px;
}


form p input.ifile {
	
	color: #b5b5b5;
}


form span.checklist {
	
	clear: none;
	width: auto;
	padding: 0;
	margin: 0;
	min-height: 10px;
	display: block;
	width: 300px;
	float: left;
	padding-bottom: 10px;	
}


form span.checklist label{
	
	clear: both;
}


p.factions {
	
	position: relative;
	float: left;
	clear: both;
	
	display: block;
	min-height: 20px;
	line-height: 20px;
}

.factions a:link,
.factions a:visited,
.factions a:hover,
.factions a:active {
	
	position: relative;
	float: left;
	clear: none;
	
   display: block;
	margin-top: 10px;
	margin-right: 5px;
	height: 20px;
	line-height: 20px;
 	min-width: 35px;
	padding: 0 20px;
	text-align: center;
	
	background: #444;
	color: white;
	text-decoration: none;
}

.factions a:hover {
	
	background: #222;
}


#errorbox, #successbox {

	width: 550px;
	position: relative;
	background: #f00;
	padding: 5px 10px;
	display: block;
	color: white;
	margin-bottom: 20px;
	margin-left: 10px;
}

#errorbox p {
	
	display: block;
	clear: both;
	min-height: 11px;
	line-height: 11px;
	height: 10px;
	width: 90%;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

#successbox {
	
	background: green;
}



ul.glist, ul.glist-sort {
	
	position: relative;
	float: left;
	clear: both;
	
	width: 100%;
	min-height: 30px;
	/*border-bottom: 1px solid #111;*/
	
	margin-top: 15px;
}

ul.glist-sort {
	
	width: 718px;
	margin-left: 10px;
}

ul.glist li, ul.glist-sort li {
	
	position: relative;
	float: left;
	clear: both;
	
	width: 100%;
	min-height: 25px;
	line-height: 25px;
	
	border-bottom: 1px solid #111;
}


ul.glist li span.gtitle, ul.glist-sort li span.gtitle {
	
	position: relative;
	float: left;
	clear: none;
	
	min-height: 25px;
	line-height: 25px;
	margin-left: 0;
}

ul.glist li span.gtitle:first-child, ul.glist-sort li span.gtitle {

	margin-left: 10px;
}



ul.glist li.glist-header {
	
	
}
ul.glist li.glist-header span.gtitle{
	
	font-weight: normal;
	color: #f00;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;

}

ul.glist li.glist-header span.gtitle a:link,
ul.glist li.glist-header span.gtitle a:visited,
ul.glist li.glist-header span.gtitle a:hover,
ul.glist li.glist-header span.gtitle a:active {
	
	color: #f00;
	text-decoration: underline;
}

ul.glist li.glist-header span.gtitle a:hover {
	
	color: #f00;
	text-decoration: none;
}



ul.glist-sort li {
	
	border: 1px solid #222;
	margin-bottom: 5px;
	cursor: move;
	background: #111;
}

ul.glist li span.gactions {
	
	position: relative;
	float: right;
	text-align:right;
	clear: none;
	
	width: 28%;
	min-height: 20px;
	line-height: 20px;
	text-align:right;
}

.gtitle a:link,
.gtitle a:visited,
.gtitle a:hover,
.gtitle a:active {
	

	color: #b5b5b5;
	text-decoration: underline;
	display: inline-block;


}

.gtitle a:hover {
	
	text-decoration: none;
}

.gactions a:link,
.gactions a:visited,
.gactions a:hover,
.gactions a:active,
a.gbut:link,
a.gbut:visited,
a.gbut:hover,
a.gbut:active {
	
	position: relative;
	float: right;
	clear: both;
	
	display: block;
	height: 18px;
	line-height: 18px;
	padding: 0 8px;
	
	background: #333;
	color: #b5b5b5;
	
	margin-top: 3px;
	margin-right: 3px;
	
	text-transform: capitalize;
	text-decoration: none;
}

.gactions a:hover,
a.gbut:hover {
	
	background: #222;

}

a.gbut:link,
a.gbut:visited,
a.gbut:hover,
a.gbut:active {

	position: relative;
	float: left;
	clear: none;
	
	display: inline;
	height: 20px;
	line-height: 20px;
}



.file_actions {
	
	background: #888;
	color: white;
	padding: 3px 5px;
	text-decoration: none;
}

.file_actions:hover {
	
	background: #666;
}


ul.thumb-sort {
	
	width: 90%;
}
ul.thumb-sort li {
	
	padding: 10px;
	padding-left: 0;
	clear: none;
	display: inline-block;
	width: AUTO;
	MARGIN-RIGHT: 5PX;
	padding-bottom: 30px;
}