body {
	width: 100%;
	height: 100%;
	background: #000;
	font: normal 10px Verdana;
	color: #555;
}

#container {

	width: 730px;
	display: block;
	margin: 0 auto;
	height: 100%;
}

#header {
	clear: both;
	width: 100%;
	min-height: 100px;
	display: block;

	border-bottom: 1px solid #f00;
}

#content {
	clear: both;
	width: 100%;
	min-height: 480px;
	display: block;
}

#content .iright {
	margin-top: 180px;
}


#footer {
	clear: both;
	width: 100%;
	min-height: 100px;
	display: block;
	border-top: 1px solid #f00;
}

.ileft {
	float: left;
	display: block;
	width: 465px;
	min-height: 50px;

}

.iright {

	text-align: right;
	float: right;
	display: block;
	width: 265px;
	min-height: 50px;
}

a.isubmit:link, a.isubmit:visited, a.isubmit:hover, a.isubmit:active {

	clear: both;
	float: right;
	display: block;
	width: 43px;
	height: 28px;
	background: #000 url(../images/Login_Button_Submit.png) 0 0 no-repeat;
}

a.isubmit:hover {
	background-position: 0 -28px;
}

input {
	padding: 3px 2px;
	width: 175px;
	font-weight: bold;
	border: 1px solid #FFF;
}

p {
  margin-top: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  display: block;
  height: 18px;
  line-height: 18px;
}

p img {
	border: 1px solid #f00;
	position: relative;
	margin-top: 5px;
}

span {
	padding: 0;
	padding-right: 7px;
}

