html, body {

    font-family: Theinhardt-Rg;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    background: #fff;
	cursor: url("/images/cursors/Oval 10p opacity 85.png"), auto;
}

body.page-dark {

    background: #000;
    color: #FFF;
}

h1, h2, h3 { 

    font-family: Theinhardt-Bd;
    font-weight: normal; 
    font-style: normal; 

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: normal;
}

h3 {
    margin-top: 22px;
    font-family: Theinhardt-Rg; 
    font-size: 18px; 
    line-height: 1.33; 
}

a:link, 
a:visited, 
a:hover, 
a:active {

    color: #000;
    text-decoration: none;
}

a:hover {

	cursor: url("/images/cursors/Oval 30p opacity 85.png") 15 15, auto;
}

body.page-dark a:link, 
body.page-dark a:visited,
body.page-dark a:hover, 
body.page-dark a:active {

    color: #FFF;
} 

header {

    min-height: 160px;
}

header.header-anchor {

    cursor: url("/images/cursors/Oval 30p opacity 85.png") 15 15, auto;
}

body.home header {

    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
}

body.home header.full, 
body.home header.boxed {

    background-position: center center;  
}

body.home header.split-left {

    background-position: top left; 
    background-size: 50% 100%; 
}

body.home header.split-right {

    background-position: top right; 
    background-size: 50% 100%; 
}

body.home header.boxed {

    background-position: center 216px; 
    background-size: 100% 100%; 
}

header > div {

    padding: 20px;
    /* width: calc(100vw - 40px); */
}

header .logo {

    float: left;
}

header .logo img {

    width: 132px;
}

header .navs {

    margin-top: -4px;

    float: right; 

    text-align:right; 

    font-family: Theinhardt-Bd;
    font-size: 16px; 
    line-height: 2; 
}

header .navs li {

    display: none;
}

header .navs li.activate {

    display: block; 
}

header .navs-black li a:link, 
header .navs-black li a:visited, 
header .navs-black li a:hover, 
header .navs-black li a:active {

    color: #000;
}

header .navs-white li a:link, 
header .navs-white li a:visited, 
header .navs-white li a:hover, 
header .navs-white li a:active {

    color: #FFF;
}

header .navs li a:hover, 
header .navs-black li a:hover, 
header .navs-white li a:hover {
    color: #FE63C5;
}

main {

    padding: 20px;
    display: block; 
    min-height: 10px; 
    width: calc(100vw - 40px); 
}

.about main {

    padding-top: 0; 
}

footer {

    margin-top: 130px;
    padding: 20px;
    /* width:calc(100vw - 40px); */

    font-size: 14px; 
    line-height: 1.29;
}

footer .social {

    margin-top: 20px;
}

footer li {
    display: block;
}

footer .social li {

    display: inline; 
}

footer .social li:after {

    content: ' / '; 
}

footer .social li:last-child:after {

    content: ''; 
}

section {

    padding-bottom: 70px;
}

section h2 {

    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.1px;
    border-bottom: 1px solid #777;
    padding: 15px 0;
    margin-bottom: 20px;
}

section.splash h2 {

    margin-bottom: 30px;
}

section.splash p {

    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 1.1px;
}

section p {

    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

section.hours p, 
section.parking p {

    padding-bottom: 30px;
}

section p span {
    display: block;
    clear: both;
}

.about .antihero img {

    width: 100%;
}

.antihero p {

    padding-top: 20px;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}

.artists .feature-holder {

    display: none; 
}

.artists .list li {

    text-align: right; 
}

.artists .list h2 {

    padding-top: 55px;

    font-family: Theinhardt-Rg;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;

    text-align: left; 
}

.artists .list li:first-child h2 {

    padding-top: 0;
}

.artists .list img {

    margin-top: 15px;
    max-width: 100%; 
    max-height: 336px;
}

.artists .list h2.focus {

    font-family: Theinhardt-Bd; 
}

.artists section {

    padding-bottom: 55px;
    clear: both;
}

.artists section h2 {

    border: 0; 
    padding: 0;
    margin: 0;

    display: block; 
    width: 100%;
    height: 31px;
}

.artists section .jumps {

    display: block; 
    width: 100%; 
    padding-top: 4px; 
    height: 24px; 
}

.artists section .jumps li {

    display: inline-block; 
    padding-right: 24px;
    font-size: 14px;
    letter-spacing: 0.4px;
}

/* what is this shit ?*/
.artists section ul:last-child {

    border-top: 1px solid #000;
}

.pager {
    padding-top: 24px;
    clear: both;     
}

.pager li {

    display: block; 
    width: 30%; 
    float: left; 
    clear: none;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.pager li:nth-child(2) {
    width: 40%; 
    text-align: center;
}

.pager li:last-child {

    text-align: right;
}

.pager li img {

    visibility: hidden;
    margin-top: 20px;
    max-width: 100%; 
    max-height: 85px;
}

.pager li a:hover img {

    visibility: visible;
}

.news-3, .news-2, .news-1 {

    clear: both;
    display: block;
    height: 1px; 
    background-color: #000; 
}

.news-3, .news-2 {

    display: none;
}

.news section {

    padding-top: 35px;
    height: 264px; 
    padding-bottom: 35px;
}

.news section.empty {

    height: 1px; 
    padding: 0;
}

.news section h2 {

    border: 0; 
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.5px;
    /* cancel out*/
    margin: 0; 
    padding: 0;
}

.news section p {

    font-size: 30px;
    line-height: 34px; 
    letter-spacing: 0.5px;
}

.news section p a:link, 
.news section p a:visited, 
.news section p a:hover, 
.news section p a:active {

    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.5px;
    display: inline-block; 
    width: 90%
} 


/*** overlay ***/

/* body { */
    /* debug only */
    /* overflow: hidden; 
} */

.overlay {

    display: none;
    
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 100;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px); 
    background: rgba(0,0,0,1);
    padding: 40px;

    color: #FFF;
}

.exhibitions .overlay {

    background: #FFF; 
    color: #000;
}


.overlay .item  {

    width: 100%;
    height: calc(100% - 180px);
    text-align: center;
    cursor: url(/images/close.png), auto;
}

.page-dark .overlay .item {
 
    cursor: url(/images/close-black.png), auto;
}

.overlay .controls {

	cursor: url("/images/cursors/Oval 10p opacity 85.png"), auto;}

.overlay .item img {

    max-width: 100%; 
    max-height: 100%;

}

.overlay .controls{

    padding-top: 40px;
    font-size: 16px; 
    line-height: 2; 
    letter-spacing: 0.5px;
    text-align: center;
}

.overlay .info {

    padding-top: 27px;
    font-size: 14px;
    line-height: 1.29; 
    letter-spacing: 0.5px;
    text-align: center;
}

.overlay .info span {

    clear: both;
    display: inline-block;
}

.overlay .controls .previous, 
.overlay .controls .next {
    
    cursor: url("/images/cursors/Oval 30p opacity 85.png") 15 15, auto;
} 

.overlay .controls .previous {

    padding-right: 5px;
}

.overlay .controls .next {

    padding-left: 5px; 
}

.exhibitions section {

    width: 100%; 
}

.exhibitions section h2.profile {

    font-size: 14px;
    letter-spacing: 0.4px;
    font-family: Theinhardt-Rg;
}

.exhibitions section h2.installations {

    margin-bottom: 25px;
}

.exhibitions h3 {

    font-size: 32px; 
    font-family: Theinhardt-Bd;
    line-height: 1.13;
    margin-top: 0;
}

.exhibitions .dates {
    padding-top: 20px; 
}

.exhibitions .dates p {

    font-size: 18px;
    line-height: 1.33;
}

.spacer {

    clear: both;
    display: block;
    width: 100%;
    height: 60px;
}

.rule {

    clear: both;
    display: block; 
    width: 100%; 
    height: 55px;
    border-top: 1px solid #000;
}

.gallery div {

    padding-bottom: 55px;
}

.gallery div img {

    cursor: url("/images/cursors/Oval 30p opacity 85.png") 15 15, auto;
    max-width: 100%; 
}

.exhibitions .pager {

    border-top: 1px solid #777;
}

.xlist {

    clear: both;
    position: relative; 
    display: block; 
    width: 100%; 
    margin-top: 5px;
    min-height: 10px;
}

.artists .xlist {

    border-top: 1px solid #000; 
    padding-top: 20px;
}

.xlist div {

    position: relative;
    display: block; 
    width: 100%;
    height: 230px; 
    padding-top: 0; 
    padding-bottom: 35px;
}

.xlist a:link, 
.xlist a:visited, 
.xlist a:hover, 
.xlist a:active 
{ 
    position: relative;
    display: block;
    height: 100%; 
}

.xlist img {

    position: absolute;
    z-index: 1; 

    bottom: 0; 
    right: 0; 

    clear: none;
    display: inline-block; 
    visibility: hidden;

    max-width: 228px; 
    max-height: 171px;

    opacity: 0.7;

}

.xlist span.heading {

    position: absolute; 
    z-index: 10; 
    width: 100%;
    font-family: Theinhardt-Rg;
}

.xlist span.heading h4 {

    font-family: Theinhardt-Bd;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.5px;
}

.xlist span.heading p {

    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.5px;
}

.xlist div a:hover .heading {
    
    font-family: Theinhardt-Bd;
}

.xlist a:hover img {

    visibility: visible;
}

